/Lab_1/Bai1/nbproject/private/
/Lab_1/Bai1/build/
/Lab_1/Bai2/nbproject/private/
/Lab_1/Bai2/build/
/Lab_1/Bai3/nbproject/private/
/Lab_1/Bai3/build/
/Lab_1/Bai4/nbproject/private/
/Lab_1/Bai4/build/
/Lab_2/Bai1/nbproject/private/
/Lab_2/Bai1/build/
/Lab_2/Bai2/nbproject/private/
/Lab_2/Bai2/build/
/Lab_2/Bai3/nbproject/private/
/Lab_2/Bai3/build/
/Lab_2/Bai4/nbproject/private/
/Lab_2/Bai4/build/
/Lab_3/Bai1/nbproject/private/
/Lab_3/Bai1/build/
/Lab_3/Bai2/nbproject/private/
/Lab_3/Bai2/build/
/Lab_3/Bai3/nbproject/private/
/Lab_3/Bai3/build/
/Lab_3/Bai4/nbproject/private/
/Lab_3/Bai4/build/
