/Lab_1/Bai1/nbproject/private/
/Lab_1/Bai1/build/
/Lab_1/Bai2/nbproject/private/
/Lab_1/Bai2/build/
/Lab_1/Bai3/nbproject/private/
/Lab_1/Bai3/build/
/Lab_1/Bai4/nbproject/private/
/Lab_1/Bai4/build/
/Lab_2/Bai1/nbproject/private/
/Lab_2/Bai1/build/
/Lab_2/Bai2/nbproject/private/
/Lab_2/Bai2/build/
/Lab_2/Bai3/nbproject/private/
/Lab_2/Bai3/build/
/Lab_2/Bai4/nbproject/private/
/Lab_2/Bai4/build/
/Lab_3/Bai1/nbproject/private/
/Lab_3/Bai1/build/
/Lab_3/Bai2/nbproject/private/
/Lab_3/Bai2/build/
/Lab_3/Bai3/nbproject/private/
/Lab_3/Bai3/build/
/Lab_3/Bai4/nbproject/private/
/Lab_3/Bai4/build/
/lab_4/Bai1/nbproject/private/
/lab_4/Bai1/build/
/lab_5/Bai1/nbproject/private/
/lab_5/Bai1/build/
/lab_5/Bai2/nbproject/private/
/Lab_1/lab1_b/nbproject/private/
/Lab_1/lab1_b/build/
/thangdtph27626_Lab_1/Bai1/build/
/thangdtph27626_Lab_1/Bai1/nbproject/private/
/thangdtph27626_Lab_1/Bai2/build/
/thangdtph27626_Lab_1/Bai2/nbproject/private/
/thangdtph27626_Lab_1/Bai3/build/
/thangdtph27626_Lab_1/Bai3/nbproject/private/
/thangdtph27626_Lab_1/Bai4/build/
/thangdtph27626_Lab_1/Bai4/nbproject/private/
/thangdtph27626_Lab_1/lab1_b/build/
/thangdtph27626_Lab_1/lab1_b/nbproject/private/
/lab_5/Bai2/build/
/lab_5/Bai3/nbproject/private/
/lab_5/Bai3/build/
/Lab2/nbproject/private/
/Lab2/build/
/lab_6/Bai1/nbproject/private/
/lab_6/Bai1/build/
/lab_6/Bai2/nbproject/private/
/lab_6/Bai2/build/
/lab_6/Bai/nbproject/private/
/lab_6/Bai/build/
/lab_6/Bai3/nbproject/private/
/lab_7/Bai1/nbproject/private/
/lab_7/Bai1/build/
/lab_7/Bai2/nbproject/private/
/lab_7/Bai2/build/
/assiment/JavaApplication24/nbproject/private/
/assiment/Assiment1/nbproject/private/
/assiment/Assiment1/build/
/example/lab3/nbproject/private/
/example/lab3/build/
/example/exam/nbproject/private/
/example/exam/build/
/example/JavaApplication28/nbproject/private/
/example/JavaApplication28/build/
/lab_8/Bai1/nbproject/private/
/lab_8/Bai1/build/
/Lab_3/UserName/nbproject/private/
/Lab_3/UserName/build/
/example/JavaApplication32/nbproject/private/
/example/JavaApplication32/build/
/example/JavaApplication37/nbproject/private/
/example/JavaApplication37/build/
/example/Lab4/nbproject/private/
/example/Lab4/build/
/example/lab5/nbproject/private/
/example/lab5/build/
/example/Bai1/nbproject/private/
/example/lab5_b/nbproject/private/
/example/lab5_b/build/
/example/Bai1/build/
/example/JavaApplication47/nbproject/private/
/example/JavaApplication47/build/
/example/lab6_b/nbproject/private/
/example/lab6_b/build/
/Thangph27626_MOB1014_Ass1/Thangph27626_MOB1014_Ass1/Assiment11/build/
/Thangph27626_MOB1014_Ass1/Thangph27626_MOB1014_Ass1/Assiment11/nbproject/private/
/Thangph27626_MOB1014_Ass1/Thangph27626_MOB1014_Ass1/Thangdtph27626_MOB1014_AssHT/build/
/Thangph27626_MOB1014_Ass1/Thangph27626_MOB1014_Ass1/Thangdtph27626_MOB1014_AssHT/nbproject/private/
/lab_8/lab8_ex/build/
/lab_8/test/nbproject/private/
/lab_8/test/build/
/lab_8/lab8_test/nbproject/private/
/lab_8/lab8_test/build/
